.contact-animated-border {
  position: relative;
  background: rgb(0, 0, 0);
  border: solid 5px transparent;
  border-radius: 2em;
  --border-angle: 0turn;
  --main-bg: conic-gradient(
      from var(--border-angle),
      rgb(14, 7, 20) 95%,
      rgb( 0, 0, 19) 5%,
      rgb(14, 7, 20) 90%,
      rgb(14, 7, 20) 95%
    );
  --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #00ff99, #00ff99 99%, transparent);
  background:
    var(--main-bg) padding-box,
    var(--gradient-border) border-box,
    var(--main-bg) border-box;
  background-position: center center;
  animation: bg-spin 3s linear infinite;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
