.console {
  background-color: #1e1e1e; /* Fundo escuro */
  padding: 16px;
  font-family: "Courier New", Courier, monospace;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  color: #f3f3f3;
  overflow: hidden;
}

.console::after {
  content: "|";
  position: absolute;
  right: 16px;
  bottom: 16px;
  animation: blink 0.7s steps(2, start) infinite;
  color: #27BA7D;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}


code::before {
  content: "> ";
  color: #ff0000;
  margin-right: 10px;
  display: inline-block;
}
@media only screen and (min-width: 769px) {
  img.banner-hero {
    max-width: 100%;
    justify-content: center;
    align-items: center;
    display: block;
    margin-left: 250px;
    animation: animate 3s infinite ease alternate;
}
@keyframes animate {
  to {
    transform: translateY(100px);
    
  }
  }
  }

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


/* Portfolio Cards Custom Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.spacer {
  width: 100%;
}

.wrapper {
  width: 100%;
}

.wrapper {
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: dashed 2px var(--color-surface50, #e0e0e0);
  border-bottom: dashed 2px var(--color-surface50, #e0e0e0);
}

.card-wrapper {
  width: 100%;
  perspective: 500px;
  margin-bottom: 24px;
}
.card-wrapper:last-child {
  margin-bottom: 0;
}

.cards {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding: 0 20px;
}

.card {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.card {
  border-radius: 10px;
  background-image: url("https://assets.codepen.io/16327/portrait-pattern-1.jpg");
}

.card.two {
  background-image: url("https://assets.codepen.io/16327/portrait-pattern-2.jpg");
}

.card.three {
  background-image: url("https://assets.codepen.io/16327/portrait-pattern-3.jpg");
}

.card.four {
  background-image: url("https://assets.codepen.io/16327/portrait-pattern-4.jpg");
}

@media (min-width: 768px) {
  .cards {
    width: 80%;
    padding: 0 30px;
  }
}

@media (min-width: 1024px) {
  .cards {
    width: 70%;
    padding: 0 50px;
  }
}
.banner-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0px;
  left: 0px;

animation: animate 3s infinite ease alternate;
}

@media only screen and (max-width: 768px) {

  .console {
    font-size: 11px;
    width: 300px;
}
img.banner-hero {
  max-width: 90%;
  justify-content: center;
  align-items: center;
  display: block;

}
/* Definir a keyframes da animação */
@keyframes animate {
to {
  transform: translateY(90px);
  
}
}
}