.console {
  background-color: #000;
  color: #00ff00;
  font-family: monospace;
  padding: 10px;
  margin-top: 15px;
  border: 2px solid #fff;
  border-radius: 5px;
  overflow: hidden;
  max-height: 300px;
  font-size: 16px; /* Tamanho de fonte para desktop */
}

code {
  animation: typing 2s steps(40, end) 1s; 
  color: #fff;
}

code::before {
  content: "> ";
  color: #ff0000;
  margin-right: 10px;
  display: inline-block;
}
@media only screen and (min-width: 769px) {
  img.banner-hero {
    max-width: 100%;
    justify-content: center;
    align-items: center;
    display: block;
    margin-left: 150px;
}
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Mídia consulta para dispositivos móveis */
@media (max-width: 768px) {
  .console {
    font-size: 10px;
    width: 300px;
}
img.banner-hero {
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: block;

}
}
.banner-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  position: relative;
  top: 0px;
  left: 0px;


animation: animate 3s infinite ease alternate;
}

@media only screen and (max-width: 768px) {
.banner-hero {
  width: auto;
  height: 300px;
  align-items: center;
  margin-left: 50px;
  top: 10px;
  left: -60px;
}
}

/* Definir a keyframes da animação */
@keyframes animate {
to {
  transform: translateY(80px);
  
}
}