/* Popup.css */

@media screen and (max-width: 800px) {

.rcw-widget-container {
    height: 90vh !important;
}

.rcw-close-button {
    background-color: #00000000 !important;
}

}

.rcw-header {
    border-radius: 0;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    flex-shrink: 0;
    position: relative;
}

.rcw-conversation-container .rcw-header {
    background: linear-gradient(to left, darkblue, #000, #5407b2) !important;
    border: 1px solid #11111009; 
}

.rcw-message-text{
    background-color: #f4f7f9;
    box-shadow: 1px 3px 4px 0px !important;
    border-radius: 10px;
    max-width: 215px;
    padding: 15px;
    text-align: left;
}


.rcw-messages-container {
    background-color: rgb(236, 232, 226);
}

img.avatar {
    display: inline !important;
    width: 60px !important;
    height: 60px !important;
    border-radius: 22% !important;
}

.rcw-title {
    font-weight: bolder !important;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5) !important; 
}
    


.rcw-widget-container {
    color: black !important;
}

.rcw-client .rcw-message-text {
    background-color: #fff;
}

button.rcw-launcher {
    background:  linear-gradient(to top, rgba(127, 13, 215, 0.1), rgba(127, 13, 215, 0.44), #6d04ed) !important;
    box-shadow: none !important;
    
}

img.rcw-open-launcher {
    display: inline-flex;
    width: 54px;
    margin-right: 8px;
    margin-bottom: 5px;
    animation: pulse 1.5s infinite; /* 1.5s de duração, repetição infinita */
  }
  
  /* Defina a animação de pulsação */
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1); /* Escala maior durante a metade da animação */
    }
    100% {
      transform: scale(1);
    }
  }

img.rcw-close-launcher {
    display:inline-flex;
    
 }

 .rcw-sender {
    align-items: flex-end;
    background-color: #f4f7f9;
    border-radius: 0 0 10px 10px;
    display: flex;
    height: -moz-max-content;
    height: max-content;
    max-height: 95px;
    min-height: 45px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    border-top: 1px solid #00000086;
}

    .rcw-new-message {
        background-color: rgb(230, 226, 220);
        border: 0.7px solid #00000064;
        border-radius: 5px;
        padding: 10px 5px;
        resize: none;
        margin-left: 6px;
        margin-right: 6px;
        width: calc(100% - 75px);
    }

    img.rcw-picker-icon {
        margin: 10px;
    }

    img.rcw-send-icon {
        margin: 10px;
        fill: blue !important;
    }

    .rcw-snippet{
        background-color: rgba(60, 57, 52, 0.199);
        border: 0.7px solid #00000064;
        border-radius: 5px;
        padding: 10px 5px;
        resize: none;
        color: #ffffff;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5) !important; 
        font-size: 18px;
        text-align: center;
        font-weight: 700;
        margin-left: 6px;
        margin-right: 6px;
        width: calc(150% - 75px);
    }
   .rcw-snippet-details {
    border: solid 1px #5407b2;
    border-radius: 5px;
    padding: 5px;
    background-color: #5f11efd2;
    color: #dbdedbf8;
   } 

   img.rcw-avatar {
    width: 50px;
    height: 50px;
}